.container {
  position:relative;
  margin-right:30px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 65px;
  height: 10px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.8s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-20px, 6px) ;
  transform: rotate(-45deg) translate(-20px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -8px) ;
  transform: rotate(45deg) translate(-10px, -8px) ;
}

.sidebar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000; 
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition:0.8s;
}
.sidebar a:hover {
  color: #2196F3;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
