.switch {
  position: relative;
  display: inline-block;
  vertical-align:middle;
  width:70px;
  height:33.5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0.5px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(37.5px);
  -ms-transform: translateX(37.5px);
  transform: translateX(37.5px);  
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 70%;
}
