html.sr .hide {
  visibility:hidden;
}
body {
  transition:0.8s;
  font-size:38pt;
}
.head {
  border-width:100px;
  border-color:#00aafa;
  font-size:160px;
  text-align:center;
}
a {
  color:#2196F3;
  text-decoration:none;
}
ul {
  list-style-type:none;
}
#logo {
  border-radius:100%;
  text-align:center;
}
.roller1 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.roller1 div {
  animation: roller 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.roller1 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 70%;
  background: #000000;
  margin: -4px 0 0 -4px;
}
.roller1 div:nth-child(1) {
  animation-delay: -0.02s;
}
.roller1 div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.roller1 div:nth-child(2) {
  animation-delay: -0.072s;
}
.roller1 div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.roller1 div:nth-child(3) {
  animation-delay: -0.108s;
}
.roller1 div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.roller1 div:nth-child(4) {
  animation-delay: -0.144s;
}
.roller1 div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.roller1 div:nth-child(5) {
  animation-delay: -0.18s;
}
.roller1 div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.roller1 div:nth-child(6) {
  animation-delay: -0.216s;
}
.roller1 div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.roller1 div:nth-child(7) {
  animation-delay: -0.252s;
}
.roller1 div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.roller1 div:nth-child(8) {
  animation-delay: -0.288s;
}
.roller1 div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.roller2 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.roller2 div {
  animation: roller 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.roller2 div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 70%;
  background: #ffffff;
  margin: -4px 0 0 -4px;
}
.roller2 div:nth-child(1) {
  animation-delay: -0.02s;
}
.roller2 div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.roller2 div:nth-child(2) {
  animation-delay: -0.072s;
}
.roller2 div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.roller2 div:nth-child(3) {
  animation-delay: -0.108s;
}
.roller2 div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.roller2 div:nth-child(4) {
  animation-delay: -0.144s;
}
.roller2 div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.roller2 div:nth-child(5) {
  animation-delay: -0.18s;
}
.roller2 div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.roller2 div:nth-child(6) {
  animation-delay: -0.216s;
}
.roller2 div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.roller2 div:nth-child(7) {
  animation-delay: -0.252s;
}
.roller2 div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.roller2 div:nth-child(8) {
  animation-delay: -0.288s;
}
.roller2 div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
#load {
  display:none;
  text-align:center;
}
.howto {
  margin:auto 160px;
  text-align:center;
}
.btn_dwd {
  font-size:30px;
  height:100px;
  width:200px;
  margin-left:630px;
  margin-bottom:100px;
  border-radius:15px;
  border:3px solid #101ada;
  background-color:#219fff;
  color:#000000;
}
.div_dwd {
  transition:0.4s;
  margin-left:25px;
  margin-right:25px;
  border-radius:10px;
  height:200px;
}
td {
  text-align:center;
  font-size:70px;
  border:2px solid White;
}
#mmbr {
  width:850px;
  margin-left:40pt;
  font-size:20px;
}
#table {
  width:900px;
  margin-left:20pt;
  font-size:20px;
}

